@font-face {
  font-family: goldeneye;
  src: url("../fonts/007 GoldenEye.ttf");
}

body {
  font-family: montserrat, sans-serif;
  color: $color-black;
  color: var(--color-black);
}

h1 {
  font-size: 4.5rem;
  font-family: montserrat, sans-serif;
}

h2 {
  font-size: 4rem;
  font-family: merriweather, sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.08rem;
  word-spacing: 0.2rem;
  margin-bottom: 2rem;
}
